@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
/* screen width min 300px*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Styles */
body {
    display: flex;
    background: #561990;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color:#d1b2fc;
}

h1{
    color: #d1b2fc;
}
/* Controls Container Styles */
.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid white;
    padding: 5px;
    color: #d1b2fc;
    font-size: 1em;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}
 /* Game Area Styles */
.game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 300px;
    row-gap: 5px;
    column-gap: 5px;
    padding-top: 5px;
    margin: auto;
    background: radial-gradient(#8a2be2, #d1b2fc, #fff);
    border: 8px solid black;
    border-radius: 15px;
}
/* The following elements are in the JS document styled when they appear in HTML*/

/* Card Styles */
.card {
    height: 60px;
    width: 60px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    backface-visibility: hidden;
    transition: ease;
}

.card-front {
    background-image: url("/assets/images/default.png");   
}

.card-back {
    transform: rotateY(180deg);
}

.card-front > img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.card-back > img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.card.flipped {
    transform: rotateY(180deg);
}

.matched {
    transform: rotateY(0deg);
}

/* Overlay Styles */
.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #d1b2fc;
}

.overlay-text-small {
    font-size: .3em;
}
.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: grow 500ms forwards;
}

@keyframes grow {
    from {
        background-color: rgba(86, 25, 144, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(86, 25, 144, 0.8);
        font-size: 8em;
    }
}
.hide {
    display: none;
}

/* Styles for Responsive Design */

@media screen and (min-width:567px) {

    h1{
        font-size: 4em;
    }

    .controls-container {
        font-size: 2.5em;
        padding: 10px;
    }

    .game-area {
        height: 33em;
        width: 33em;
        column-gap: 15px;
        padding-top: 15px;
    }

    .card {
        height: 100px;
        width: 100px;
    }
}
@media screen and (min-width: 768px) {
    
    h1 {
        font-size: 5em;
    }

    .controls-container {
        font-size: 3em;
        padding: 20px;
    }

    .game-area {
        height: 40em;
        width: 40em;
        row-gap: 10px;
        column-gap: 20px;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .card {
        height: 120px;
        width: 120px;
    }
}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 7em;
    }
    
    .controls-container {
        font-size: 5em;
    }

    .game-area {
        height: 60em;
        width: 60em;
        row-gap: 10px;
        column-gap: 20px;   
    }
    
    .card {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1440px) {

    h1 {
        font-size: 10.5em;
    }

    .controls-container {
        font-size: 7em;
    }

    .game-area {
        height: 85em;
        width: 85em;
        row-gap: 10px;
        column-gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card {
        height: 290px;
        width: 290px;
    }

}