@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body{
    display:flex;
    background:#561990;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    display: grid;
    justify-content: center;
    height: 100%;
    width: 750px;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: .5fr 3fr .3fr .5fr;
    gap: 0.2rem;
    grid-template-areas:
        "nav nav nav nav"
        "sidepanel main main main"
        "sidepanel actions actions actions"
        "footer footer footer footer"
    ;
}
nav {
    background-color: #d1b2fc;
    color: black;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;      
    text-align: center;
    font-size: 3em;
    grid-area: nav;
}
main{
    background: radial-gradient(#8a2be2, #d1b2fc);
    grid-area: main;
}
.nested{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    padding: 5px
}
.nested img{
    border: 1px solid black;
    margin: 5px;
}
.card .world{
    border-radius: 15px;
    box-shadow: 2px;
    height: 95px;
    width: 95px;
}
#sidepanel{
    background-color:#d1b2fc;
    grid-area: sidepanel;
}
#actions{
    background-color:#d1b2fc;
    grid-area: actions;
}
footer{
    background-color:#d1b2fc;
    grid-area: footer;
}