@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
body {
    background: #8a2be2;
    padding: 0;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}
/*main webpage grid layout*/
.game-container{
    display: grid;
    justify-content: center;
    height: 100%;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer"
    ;
}
nav{
    background-color: #d1b2fc;
    color: black;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;      
    text-align: center;
    font-size: 32px;
    grid-area: nav;
}
p{
    letter-spacing: 3px;
    font-family: sans-serif;
    font-weight: 600;
}
main{
    background: radial-gradient(#8a2be2, #d1b2fc, #ffffff);
    grid-area: main;
    border: 8px solid black;
    border-radius: 50px;
}
#reset-board{
    height: 60px;
    width: 150px;
    background-color: #561990;
    color:#d1b2fc;
    border-radius: 15px;
    border: 2px solid black;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 2px;
}
#reset-board:hover{
    background-color: #d1b2fc;
    cursor: pointer;
    color: #561990;
}
/*game grid css starts*/
.gameArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 10px 0px 10px 10px;
}
.nested img{
    border: 3px solid black;
    margin: 5px;
}
.card .world{
    border-radius: 15px;
    height: 100px;
    width: 100px;
}
.world:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}
/*sidepanel, actions and footer section styling begins*/
#sidepanel{
    background-color:#d1b2fc;
    grid-area: sidepanel;
}
#actions{
    background-color:#d1b2fc;
    grid-area: actions;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
